# Ignorar todas las carpetas node_modules en subdirectorios
**/node_modules/

# Ignorar los archivos package-lock.json en subdirectorios
**/package-lock.json

# Archivo de registro de errores
npm-debug.log

# Archivo de registro creado por el sistema operativo
.DS_Store

# Carpeta temporal
temp

# Dependiendo de tu editor/IDE, puedes necesitar agregar otros patrones.
# Por ejemplo, para Visual Studio Code:
.vscode

# Ignorar el archivo CoderHouse-55595.code-workspace
CoderHouse-55595.code-workspace

# Para archivos de configuración locales, no los incluyas en el repositorio
.env
