<h1>Bienvenido al CoderChat comunitario!</h1>
<div>
    <input id="chatBox">
</div>
<div>
    <p id="messageLogs"></p>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/index.js"></script>