<h1>Bienvenido al mundo de Websockets</h1>
    <div id="messages"></div>
<br/>
<form onsubmit="return addMessage(this)">
    <input type="text" id="username" name="username">
    <input type="text" id="texto" name="texto">
    <input type="submit" name="Enviar">
</form>