<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>{{title}}</h2>
      <form action="{{recovery}}" method="post">
        <input type="email" name="email" placeholder="email" />
        <input type="password" name="password" placeholder="password" />
        <input type="submit" value="Recovery" />
      </form>
    </div>
  </div>
</div>